# Visual Studio Files
.vs/
*.vcxproj.user


# Uploads
UploadBits/
UploadPackages/

# Auto Updated File
App/script/LuaGenCS.inl
App/tmp.h

# Project Build Files
App/bin/
App/obj/
App.BulletPhysics/[Dd]ebug/
App.BulletPhysics/[Nn]o[Oo]pt/
App.BulletPhysics/[Rr]elease/
Base/bin/
Base/obj/
boostlibs/bin/
boostlibs/obj/
CSG/bin/
CSG/obj/
Log/bin/
Log/obj/
Network/bin/
Network/obj/
RCCService/Win32/
RCCService/obj/
Rendering/AppDraw/bin/
Rendering/AppDraw/obj/
Rendering/g3d/bin/
Rendering/g3d/obj/
Rendering/GfxBase/bin/
Rendering/GfxBase/obj/
Rendering/GfxCore/bin/
Rendering/GfxCore/obj/
Rendering/GfxRender/bin/
Rendering/GfxRender/obj/
Rendering/RbxG3D/bin/
Rendering/RbxG3D/obj/
Rendering/ShaderCompiler/[Dd]ebug/
Rendering/ShaderCompiler/[Nn]o[Oo]pt/
Rendering/ShaderCompiler/[Rr]elease/
QTitanRibbon/roblox_build/
QTitanRibbon/src/shared/ribbon/[Dd]ebug/
QTitanRibbon/src/shared/ribbon/[Nn]o[Oo]pt/
QTitanRibbon/src/shared/ribbon/[Rr]elease/
QTitanRibbon/src/shared/ribbon/*.pdb
RobloxStudio/bin/
RobloxStudio/obj/
RobloxStudio.PrepForUpload/Release/
RobloxStudio.PrepForPackaging/Release/
WindowsClient/Win32/
WindowsClient/obj/
WindowsClient.PrepForUpload/Release/
WindowsClient.PrepForPackaging/Release/
Installer/Bootstrapper/bin/
Installer/Bootstrapper/obj/
Installer/BootstrapperClient/bin/
Installer/BootstrapperClient/obj/
Installer/BootstrapperQTStudio/bin/
Installer/BootstrapperQTStudio/obj/

Qt/win/debug
